extends withsignin

block signedin
  script(src="/js/repo.js")
  .col-sm-14.col-sm-offset-0.section

    div.form-horizontal(id='signup-form')
      h2 What component do you want to build?
      if (suggestions)
        p
          | Here are some components we know we need:
        .form-group
          ul.nav.nav-tabs#tabs
            //- for suggestion in suggestions
            //-   li(class=defaultSuggestion==suggestion?'active':'')
            //-     a(data-toggle="tab", onclick="selectSuggestion('#{suggestion}')")
            //-       | #{suggestion}

            //- li
            //-   a(data-toggle="tab", onclick="selectSuggestion('new')")
            //-     | your own idea

          .box.col-sm-12.well#descs
            //- for suggestion in suggestions
            //-   div(id="#{suggestion}", class="desc hidden")
            //-     h4 #{titles[suggestion]}
            //-     p #{descriptions[suggestion]}

            //- div(id="new", class="desc hidden")
            //-     h4 Something new!
            //-     p
            //-       |  If you have an original idea for a component, that's great!

      legend Name your component
      .form-group
        label.col-sm-5.control-label(for='needed') Component Name
        .col-sm-7
          input.form-control(type='string', name='component_name', id='component_name', autofocus="true"
              placeholder='e.g. Flickr Gallery', onchange="updateNames(this)", onkeyup="updateNames(this)")
      .form-group
        label.col-sm-5.control-label(for='needed') GitHub Repository name
        .col-sm-7
          input.form-control(type='string', name='repo_name', id='repo_name', 
            placeholder='e.g. component-flickr-gallery', onchange="checkIfReady()", onkeyup="checkIfReady()")
          //- need to validate that repo is available for this user
      .form-group
        label.col-sm-5.control-label(for='needed') Javascript name
        .col-sm-7
          input.form-control(type='string', name='js_name', id='js_name',
            placeholder='e.g. flickr_gallery', onchange="checkIfReady()", onkeyup="checkIfReady()")

      div.disabled#ready
        legend Last step: create a Github repo for your component:
        .form-group
          .col-sm-offset-5.col-sm-7
            button.btn.btn-success#submit(onclick="createRepo()", disabled="true")
              i.fa.fa-check
              | Create GitHub repo

